.block.block-cards{

  .row{
    >.card-item{
      margin-top: var(--spacing-medium);
      .card{
        .bg-white;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        >*{
          height: 50%;
        }
        .img{
          width: 100%;
          height: auto;
        }
        .txt{
          padding: var(--spacing-small);
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 300px;
          text-align: center;

          h2{
            .h2;
          }
          h3{
            .h3;
            color:@color-pink;
          }
          h4{
            .h3;
          }
        }
      }







    }
  }
}