.block-count-down{

  height: 75vmin;
  min-height: 400px;
  margin-bottom: calc( var(--spacing-big) *2 );

  text-align: center;
  position: relative;


  .poster-image{
    position: absolute;
    height: 100%;
    min-height: 100%;
    margin-bottom: calc( var(--spacing-big) * -2 );
  }

  .container{
    padding-bottom: var(--spacing-big);
    padding-top: var(--spacing-big);
    position: relative;
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      max-width: 80%;
      .h1;
      margin-bottom:var(--spacing-medium);
    }


    .compteur{
      user-select: none;
      opacity:0;
      transition: opacity 0.5s;
      &.init{
        opacity: 1;
      }
      margin-top: var(--spacing-medium);
      .bg-gradient;
      border-radius: 100px;
      border: 2px solid #fff;
      display: flex;
      >div{
        text-align: center;
        border-right: 2px solid #fff;
        padding: var(--spacing-small) var(--spacing-small);
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 40px;
        @media(min-width: @screen-md){
          min-width: 120px;
        }
        &:first-child{
          padding-left: var(--spacing-medium);
        }
        &:last-child{
          border-right: none;
          padding-right: var(--spacing-medium);
        }
        &:first-child,&:last-child{
          min-width: 60px;
          @media(min-width: @screen-md){
            min-width: 150px;
          }
        }
        @media(min-width: @screen-md){
          &:first-child{
            padding-left: var(--spacing-medium);
          }
          &:last-child{
            padding-right: var(--spacing-medium);
          }
        }

        >*{
          display: block;
          text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        }
        >span{
          .h2;
        }
        >i{
          text-transform: none;
          font-style: normal;
          font-size: 0.8em;
          font-weight: lighter;
        }
      }
    }


  }



  .deco{
    position: relative;
    background-image: url('../../svg/gros-trait.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc( var(--spacing-big) * 2 );
    margin-top:  calc( var(--spacing-big) * -1 );
  }

}