.block-count-down{


  --border-size :3px;

  height: calc( 100vh - var(--nav-bar-height) );
  min-height: 400px;
  margin-bottom: calc( var(--spacing-big) *2 );

  text-align: center;
  position: relative;

  --spacing-countdown : var(--spacing-small);
  --spacing-countdown-ext : var(--spacing-medium);
  @media (min-width: @breakPoint) {
    --spacing-countdown: var(--spacing-medium);
    --spacing-countdown-ext: var(--spacing-big);
  }

  .poster-image{
    position: absolute;
    height: 100%;
    min-height: 100%;
    margin-bottom: calc( var(--spacing-big) * -2 );
    max-height: 100%;
  }

  .container{
    padding-bottom: var(--spacing-big);
    padding-top: var(--spacing-big);
    position: relative;
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      max-width: 80%;
      .h1;
      margin-bottom:var(--spacing-medium);
    }


    .compteur{
      user-select: none;
      opacity:0;
      transition: opacity 0.5s;
      &.init{
        opacity: 1;
      }
      margin-top: var(--spacing-medium);
      .bg-gradient;
      border-radius: 100px;
      border:  var(--border-size) solid #fff;
      display: flex;
      >div{
        text-align: center;
        border-right: var(--border-size) solid #fff;

        padding: var(--spacing-countdown) var(--spacing-countdown);
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 40px;
        @media(min-width: @screen-md){
          min-width: 120px;
        }
        &:first-child{
          padding-left: var(--spacing-countdown-ext);
        }
        &:last-child{
          border-right: none;
          padding-right: var(--spacing-countdown-ext);
        }
        &:first-child,&:last-child{
          min-width: 60px;
          @media(min-width: @screen-md){
            min-width: 150px;
          }
        }
        @media(min-width: @screen-md){
          &:first-child{
            padding-left: var(--spacing-countdown-ext);
          }
          &:last-child{
            padding-right: var(--spacing-countdown-ext);
          }
        }

        >*{
          display: block;
          text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          p{
            text-shadow: none;
          }
        }
        >span{
          .h2;
        }
        >i{
          text-transform: none;
          font-style: normal;
          font-size: 0.8em;
          font-weight: lighter;
        }
      }
    }

    .scroll-txt{
      margin-top: var(--spacing-big);
      .p{
        margin-bottom: var(--spacing-small);
      }
      svg{
        width: 24px;
        height: 24px;
      }
    }


  }



  .deco{
    position: relative;
    background-image: url('../../svg/gros-trait.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc( var(--spacing-big) * 2 );
    margin-top:  calc( var(--spacing-big) * -1 );
  }

}