.block-titre{

  text-align: center;
  position: relative;

  .img{
    width: 100vw;
    height: calc( 100vmin / 16 * 9);
    max-height: 400px;
    @media(min-width: @breakPoint){
      margin-left: calc( var(--nav-menu-width) * -1 ) ;
    }
    margin-top: calc( var(--spacing-medium) * -1 );
    margin-bottom: calc( var(--spacing-big) * -2 );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }




  .normal{
    color: @color-white;
    .h2;
  }


  .pill{

    background-image: url('../../svg/double-trait.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: calc( var(--spacing-big) * 4 );
    display: flex;
    align-items: center;
    justify-content: center;

    h1,h2,h3,h3,h4,h5 {
      .h3;
      //.btn;
      .py-small;
      .px-medium;
      padding-left: var(--spacing-big);
      padding-right: var(--spacing-big);
      .bg-white;
    }

  }

}