.btn, .btn-big{
  text-decoration: none;
  text-align: center;
  .h5;
  border-radius: 60px;
  display: inline-block;
}

.btn{
  .py-small;
  .px-medium;
}
.btn-big{
  .py-medium;
  .px-big;
  border: 3px solid @color-white;
}

.bg-white{
  .btn, .btn-big{
    .bg-gradient;
    color:@color-white !important;
  }
}

.bg-gradient{
  .btn, .btn-big{
    .bg-white;
  }
}

.bg-gradient-light{
  .btn-big{
    .bg-gradient;

  }
  .btn{
    .bg-white;
  }
}
