
#root{
  --nav-menu-width:300px;
  --nav-bar-height:50px;
  @media(min-width: @screen-md){
    --nav-menu-width:400px;
    --nav-bar-height:80px;
  }
  //à partir de là on est plus en burger
  @media(min-width: @screen-lg){
    //--menu-width:400px; plus d'intérêt
    --nav-bar-height:100px;
  }
}

html{
  overflow-y: scroll;
}
#root{
  padding-top: var(--nav-bar-height,80px);

  >#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - var(--nav-bar-height,"80px"));
    >#main-content{

    }
    >footer{
      width: 100%;
      min-height: 50px;
    }
  }
}
@import "nav.less";
@import "footer.less";